/* ------------------------------- *\
        Estilos para portafolio
/* ------------------------------- */

        // Variables
@import "mixins/vars";



        // Funciones
@import "mixins/mixins";
@import "mixins/functions";

        // estilos de fuentes
        @import "base/heading";
        // layout
@import "layout/header";
@import "layout/hero";
@import "layout/portfolio";
@import "layout/experience";
@import "layout/contact";
*{
        box-sizing: border-box;
}
*,*::after,*::before{
        box-sizing: inherit;
}
body,figure{
        margin: 0;
        font-family: $font;
        
        
}
body{
        background-color: #fafafa;
        font-size: $fs;
}

a{
        text-decoration: none;
}
li{
        list-style: none;
}

.hide{
        display: none;
}

section{
        padding-top: 20px;
        padding-bottom: 20px;
}







