/* ------------------------------- *\
        Estilos para portafolio
/* ------------------------------- */
h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    /**
        * 1. Centers the content. Yes, it's a bit opinionated.
        * 2. See the "width vs max-width" section
        * 3. See the "Additional Padding" section
        */
  }
  .wrapper {
    margin-right: auto;
    /* 1 */
    margin-left: auto;
    /* 1 */
    max-width: 1024px;
    /* 2 */
    padding-right: 40px;
    /* 3 */
    padding-left: 40px;
    /* 3 */
  }
}

.row {
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

header {
  background-color: #1d252c;
  -webkit-box-shadow: 0 2px 5px 1px #00000096;
          box-shadow: 0 2px 5px 1px #00000096;
  position: relative;
  z-index: 300;
}

header .__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  z-index: 11;
}

@media only screen and (min-width: 768px) {
  header .__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 70px;
  }
}

header .__container i {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 40px;
  text-align: center;
  color: white;
}

@media only screen and (min-width: 768px) {
  header .__container i {
    display: none;
  }
}

.menu {
  display: none;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu ul li {
  margin: 0 10px 10px 10px;
  padding: 10px 10px;
}

@media only screen and (min-width: 768px) {
  .menu ul li {
    margin-bottom: 0;
  }
}

.menu ul li a {
  color: #fff;
  font-weight: 600;
}

.menu__elem:last-child {
  border: 2px solid #fff;
  border-radius: 5px;
}

.hero {
  padding-top: 1px;
  position: relative;
  height: auto;
  overflow: hidden;
  background-color: #1d252c;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media only screen and (min-width: 1024px) {
  .hero {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.hero__welcome {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (min-width: 1024px) {
  .hero__welcome {
    width: 45%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .hero__welcome::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 110%;
    height: 110%;
    background-color: #1d252c;
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
}

.hero__welcome h1 {
  color: white;
  font-size: 1.2em;
  margin: 0;
  line-height: 1.5em;
  letter-spacing: -0.3px;
}

@media only screen and (min-width: 320px) {
  .hero__welcome h1 {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 768px) {
  .hero__welcome h1 {
    font-size: 2em;
  }
}

.hero__welcome h1 span {
  color: #026fff;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

@media only screen and (min-width: 1024px) {
  .hero__image {
    position: initial;
    width: 55%;
    margin-bottom: -5px;
  }
}

.hero__image img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 1024px) {
  .hero .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, figure {
  margin: 0;
  font-family: "arial";
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */