/* ------------------------------- *\
        Estilos para portafolio
/* ------------------------------- */
h3, .portfolio__desc p {
  margin-top: .3em;
  margin-bottom: .3em;
}

.portfolio__proyect, .experience__element, .experience__element__info {
  border: 1px solid transparent;
  border-radius: .5em;
  -webkit-box-shadow: 0px 0px 20px 5px #5b5b5b1c;
          box-shadow: 0px 0px 20px 5px #5b5b5b1c;
  overflow: hidden;
}

.experience__element__info .btn {
  padding: 0.3em 2em;
  border: 1px solid #026fff;
  border-radius: 0.5em;
  background-color: transparent;
  color: #026fff;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .experience__element__info .btn {
    padding: .3em 2.5em;
  }
}

.experience__element__info .btn:hover {
  background-color: #026fff;
  color: white;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    /**
            * 1. Centers the content. Yes, it's a bit opinionated.
            * 2. See the "width vs max-width" section
            * 3. See the "Additional Padding" section
            */
    margin-right: auto;
    /* 1 */
    margin-left: auto;
    /* 1 */
    max-width: 1024px;
    /* 2 */
    padding-right: 40px;
    /* 3 */
    padding-left: 40px;
    /* 3 */
  }
}

h1 {
  color: white;
  font-size: 1.2em;
  margin: 0;
  line-height: 1.5em;
  letter-spacing: -0.3px;
  white-space: nowrap;
}

@media only screen and (min-width: 425px) {
  h1 {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2em;
  }
}

h1 span {
  color: #026fff;
}

h2 {
  color: #026fff;
  font-weight: 700;
  margin: 1em 0;
  font-size: 1.3em;
}

h3 {
  color: #1d252c;
  margin-top: 0;
  font-size: 1.4em;
}

header {
  background-color: #1d252c;
  -webkit-box-shadow: 0 2px 5px 1px #00000096;
          box-shadow: 0 2px 5px 1px #00000096;
  position: relative;
  z-index: 300;
}

header .__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  z-index: 11;
}

@media only screen and (min-width: 768px) {
  header .__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 70px;
  }
}

header .__container i {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 40px;
  text-align: center;
  color: white;
}

@media only screen and (min-width: 768px) {
  header .__container i {
    display: none;
  }
}

.menu {
  display: none;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu ul li {
  margin: 0 10px 10px 10px;
  padding: 10px 10px;
}

@media only screen and (min-width: 768px) {
  .menu ul li {
    margin-bottom: 0;
  }
}

.menu ul li a {
  color: #fff;
  font-weight: 600;
}

.menu__elem:last-child {
  border: 2px solid #fff;
  border-radius: 5px;
}

.hero {
  padding-top: 1px;
  position: relative;
  height: auto;
  overflow: hidden;
  background-color: #1d252c;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media only screen and (min-width: 1024px) {
  .hero {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.hero__welcome {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (min-width: 1024px) {
  .hero__welcome {
    width: 45%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .hero__welcome::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 110%;
    height: 110%;
    background-color: #1d252c;
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

@media only screen and (min-width: 1024px) {
  .hero__image {
    position: initial;
    width: 55%;
    margin-bottom: -5px;
  }
}

.hero__image img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 1024px) {
  .hero .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*-------- $PORTFOLIO ---------*/
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 12px;
}

@media only screen and (min-width: 1024px) {
  .portfolio {
    font-size: 16px;
  }
}

.portfolio__proyect {
  margin-bottom: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1.4em;
  background-color: white;
}

@media only screen and (min-width: 1024px) {
  .portfolio__proyect {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.portfolio__proyect:last-of-type {
  margin-bottom: 0;
}

.portfolio__desc {
  font-size: 14px;
}

@media only screen and (min-width: 1024px) {
  .portfolio__desc {
    width: 50%;
  }
}

.portfolio__desc p {
  color: #6d6d6d;
}

.portfolio__desc p strong {
  color: #1d252c;
  margin-right: .3em;
}

.portfolio__desc p a {
  color: #6d6d6d;
}

.portfolio__desc em, .portfolio__desc time, .portfolio__desc h4 {
  display: inline-block;
}

.portfolio__desc .__info {
  color: #1d252c;
  line-height: 1.4em;
  font-weight: 600;
  font-size: 1em;
  margin-top: 1.5em;
}

.portfolio__image {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .portfolio__image {
    width: 50%;
  }
}

.portfolio__image img {
  max-width: 100%;
}

/* $ EXPERIENCE */
.experience__elements {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 1.5em;
  grid-auto-flow: row;
}

@media only screen and (min-width: 768px) {
  .experience__elements {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
}

.experience__element {
  position: relative;
  background-color: #f4fbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.experience__element__info {
  margin: 1.3em;
  background-color: white;
  padding: 1.3em;
  margin-top: -4em;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__element__info p {
  color: #6d6d6d;
  line-height: 1.4em;
  font-size: 1.2em;
}

.experience__element img {
  width: 100%;
  max-width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, figure {
  margin: 0;
  font-family: "arial";
}

body {
  background-color: #fafafa;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */