    // media queries
    @mixin respond-to($width){
        @media only screen and (min-width: $width){
            @content;
        }
    }

    @mixin wrapper($max-width,$padding : $paddingW){
               
        & {
                /**
            * 1. Centers the content. Yes, it's a bit opinionated.
            * 2. See the "width vs max-width" section
            * 3. See the "Additional Padding" section
            */
            margin-right: auto; /* 1 */
            margin-left:  auto; /* 1 */
        
            max-width: $max-width; /* 2 */
        
            padding-right: $padding; /* 3 */
            padding-left:  $padding; /* 3 */
        }
    }

    %margin{
        margin-top: .3em;
        margin-bottom: .3em;
    }

    %caja{
        border: 1px solid transparent;
        border-radius: .5em;
        box-shadow: 0px 0px 20px 5px #5b5b5b1c;
        overflow: hidden;
    }

    %btn{
        padding: 0.3em 2em;
        border: 1px solid $secundary-color;
        border-radius: 0.5em;
        background-color: transparent;
        color: $secundary-color;
        font-weight: bold;
        font-size: 1.3em;
        text-align: center;
        margin: 0 auto;
        transition: .3s;
        cursor: pointer;
        @include respond-to(768px){
            padding: .3em 2.5em;
        }
    }

    %btn:hover{
        background-color: $secundary-color;
        color: white;
    }