    // media queries
    @mixin respond-to($width){
        @media only screen and (min-width: $width){
            @content;
        }
    }

    @mixin wrapper($max-width,$padding : $paddingW){

        /**
        * 1. Centers the content. Yes, it's a bit opinionated.
        * 2. See the "width vs max-width" section
        * 3. See the "Additional Padding" section
        */
        & {
            margin-right: auto; /* 1 */
            margin-left:  auto; /* 1 */
        
            max-width: $max-width; /* 2 */
        
            padding-right: $padding; /* 3 */
            padding-left:  $padding; /* 3 */
        }
    }

