    // colores
    $primary-color: #1d252c;
    $secundary-color: #026fff;

    // escala de grises
    $ligth-grey: #6d6d6d;
    $white: #fff; 

    // fuentes
    
    $fs:16px;
    $font: 'arial'; 

    //  padding-wrapper
    $paddingW:40px;