header{         //capa de sombra y color
    background-color: $primary-color;
    box-shadow: 0 2px 5px 1px #00000096;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    @include respond-to(768px){
        overflow: hidden;
    }

    .wrapper{
        background-color: $primary-color;
    }


    & .__container{     //contenedor -alineado
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
    
        @include respond-to(768px){
            justify-content: flex-start;
             flex-direction: row;
             height: 70px;
        }
        i{                  //menu hamburguesa
            position: absolute;
            cursor: pointer;
            top: 5px;
            left: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, .8);
            line-height: 40px;
            text-align: center;
            color: white;
            @include respond-to(768px){
                display: none;
            }
        }
    }    
}

// Fin de contenedores



.menu{
   display:flex;
    width: 100%;
    flex-flow: colum nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(29, 37, 44, 0.89);
    width: calc(100% + 60px);
    transition: .3s ease-in-out;
    top: -300px;
    z-index: -1;
    
    @include respond-to(768px){ //menu se va a la derecha despues de 768
        z-index: 0;
        position: initial;
        justify-content: flex-end;
       
        
    }

    & ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        @include respond-to(768px){
            flex-direction: row;
        }

        li{
            margin:0 10px 10px 10px;
            padding: 10px 10px;
            @include respond-to(768px){
                margin-bottom: 0;
            }
            a{
                color: $white;
                font-weight: 600;
            }  
        }
     
    }
    &__elem:last-child{        
        border: 2px solid $white;
        border-radius: 5px;
    }
    
    
}