/*-------- $PORTFOLIO ---------*/

.portfolio{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    font-size: 12px;

    @include respond-to(1024px){
        font-size: 16px;
    }
    &__proyect{
        @extend %caja;
        margin-bottom: 2.5em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 1.4em;
        background-color: white;
        

        @include respond-to(1024px){
            flex-direction: row;
        }

        &:last-of-type{
            margin-bottom: 0;
        }

    }
    
    &__desc{
        font-size: 14px;
        @include respond-to(1024px){
            width: 50%;
        }
        p{
            @extend %margin;  
            color: $ligth-grey;
            strong{
                color: $primary-color;
                margin-right: .3em;
            }
            a{
                color: $ligth-grey;
            }
        }
        em ,time, h4 {
            display: inline-block;
        }
        .__info{
            color: $primary-color;
            line-height: 1.4em;
            font-weight: 600;
            font-size: 1em;
            margin-top: 1.5em;
        }

    }

    &__image{

        @include respond-to(1024px){
            width: 50%;
        }

        width: 100%;
        
        img{
                max-width: 100%;
            }
    }
}